.syzygy-form-star-rating {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
input.syzygy-form-star-rating__input {
    left: 0;
    opacity: 0;
    position: absolute;
}
.syzygy-form-star-rating__star,
.syzygy-form-star-rating:hover .syzygy-form-star-rating__star {
    cursor: pointer;
    display: block;
    fill: #fff;
    float: right;
    height: 30px;
    padding: 0 2px;
    position: relative;
    stroke: #848b8e;
    stroke-width: 3px;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    width: 30px;
}
.syzygy-form-star-rating__star:hover polygon,
.syzygy-form-star-rating__star:hover ~ .syzygy-form-star-rating__star polygon,
.syzygy-form-star-rating__input:checked ~ .syzygy-form-star-rating__star polygon {
    fill: #e8cc19;
    stroke: #e8cc19;
    stroke-width: 3px;
}

.syzygy-form-star-rating__no-rating {
    float: right;
    line-height: 30px;
    margin-left: 20px;
}

.syzygy-form-star-rating__no-rating__radio {
    cursor: pointer;
    display: inline;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.syzygy-form-star-rating__no-rating__label {
    cursor: pointer;
}
